body {
    font-family: 'Lora', serif;
    background: #f883ca;
    color: white;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.logo {
    height: 80px;
    width: auto;
    margin: 20px 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
    padding: 10px 15px;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: #ffebf8;
    text-decoration: underline;
}

.banner-envios {
    border: 3px solid #ffd7ec;
    background: rgba(255, 255, 255, 0.15);
    padding: 12px 18px;
    border-radius: 12px;
    font-weight: 600;
}


.contact-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.contact-card {
    background: #ff9bd6;
    padding: 25px;
    width: 260px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(200, 70, 140, 0.4);
    text-align: center;
    color: white;
}

.contact-card i {
    font-size: 40px;
    margin-bottom: 10px;
}

.form-box {
    background: rgba(255, 255, 255, 0.15);
    padding: 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.form-box h3 {
    margin-bottom: 20px;
}

form input,
form select,
form textarea {
    width: 100%;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 10px;
    border: none;
    outline: none;
}

button {
    background: #ff9bd6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    box-shadow: 0 5px 15px rgba(200, 70, 140, 0.4);
}

button:hover {
    background: #ffbde4;
}


.footer-matcha {
    background: linear-gradient(180deg, #ffbde4, #f883ca);
    padding: 40px 0;
    margin-top: 50px;
}

.footer-text {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-icons {
    margin: 15px 0;
}

.icon-link {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: transform 0.2s;
}

.icon-link:hover {
    transform: scale(1.3);
}

.footer-small {
    font-size: 14px;
    opacity: 0.9;
}

.footer-matcha a {
    text-decoration: none !important;
}

.footer-matcha a:focus,
.footer-matcha a:active,
.footer-matcha a:visited {
    text-decoration: none !important;
    outline: none !important;
}
